$mediarow-breakpoint: 544px !default;
$mediarow-class-row: dotpulse-mediarow--row !default;
$mediarow-class-col: dotpulse-mediarow--col !default;
$mediarow-gutter: 30px !default;

@media (min-width: $mediarow-breakpoint) {
	.dotpulse-mediarow-container + .dotpulse-mediarow-container  {
		margin-top: 1.5rem;
	}

	.#{$mediarow-class-row} {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		margin-right: -$mediarow-gutter / 2;
		margin-left: -$mediarow-gutter / 2;
		min-height: 3rem;

		&:after {
			content: '';
			display: table;
			clear: both;
		}

		.neos-empty-contentcollection-overlay {
			width: 100%;
		}
	}

	.#{$mediarow-class-col} {
		flex: 1 1 auto;
		max-width: 100%;
		margin-right: $mediarow-gutter / 2;
		margin-left: $mediarow-gutter / 2;

		img {
			width: 100%;
			height: auto;
			display: block;
			object-fit: contain;

			&[src$=".svg"] {
				object-fit: fill;
			}
		}
	}
}
